body {
  background-color: rgb(231, 231, 231);
  margin: 0 auto;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.vbg {
    width: 100%; 
    height: 600px;
    object-fit: cover;
}

.btnHover:hover {
  background-color: whitesmoke !important;
  color: black !important;
  border: #282c34 1px solid;
}

.btnHover {
  border: whitesmoke 1px solid;
}

.smedia a{
  margin: 0 0.5em;
  font-size: 3em;
}

.smedia a:hover{
  color: #61dafb;
}

.page-footer .smedia {
  margin-bottom: 1em !important;
}

.abImg{
  min-height: 60vh;
  margin-top: 7em;
}

.abImg img {
  max-width: 80%;
  height: auto;
}

.abImg p {
  text-align: left;
  font-size: 1.3em;
}

.cSection {
  min-height: 60vh;
  margin-top: 7em;
}

.alert-primary a:hover {
  text-decoration: underline;
}